.myGallery {
    margin: 5px;
    border: 1px solid black;
    width: 180px;
    display: inline-block;
  }

.myGallery:hover {
    border: 1px solid #777;
  }
  
.myGallery img {
    width: 100%;
    height: auto;
  }