:root{
    --red: #eb0d0d;
    --blue: #002966;
    --green: #008000;
    --yellow: #ffa31a;
    --orange: #ff471a;
    --pink: #ff6666;
    --black: #000000;
    --white: #ffffff;
    --grey: #4d4d4d;
    --purple: #800080;

    --font-one:

}